/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
.text-align-left {
    text-align: left;
}

.text-align-right {
    text-align: right;
}

.text-align-center {
    text-align: center;
}